@media screen and (max-width: 600px)
{
    #forkme {
        display: none;
    }
}

@media screen and (max-height: 500px)
{
    #forkme {
        display: none;
    }
}

@media screen and (max-height: 650px)
{
    #logo
    {
        height: 72px;
        width: 100px;
    }

    #success #about
    {
        padding: 0;
    }
}

@media screen and (max-height: 550px) {

    body
    {
        min-width: 850px;
    }

    #success
    {
        position: absolute;
        top: 50%;
        margin-top: -70px;
        right: 5%;
    }

    #success #about
    {
        padding: 0;
        width: 250px;
    }

    #body
    {
    }

    #body p.info
    {
    }

    .button
    {
        width: 200px;
    }

    #logo
    {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 13%;
    }

    #header
    {
        position: absolute;
        left: 0;
        height: 100%;
    }

    #header p
    {
        display: none;
    }

}