html
{
    height: 100%;
}

body
{
    width: 100%;
    background-color: #c9c9c9;
    padding:0;
    margin: 0;
    text-align: center;
}

#header
{
    width: 100%;
    background: url('/img/backlight.png') no-repeat fixed center top;
}

#header.deleted
{
    width: 100%;
    background: none;
}

#header p {
    padding: 10px;
    margin: 0;
}

div.description p {
    font-size: 12px;
    text-align: center;
    padding: 0 10px;
}

img{
    margin-bottom: 5px;
    border: none;
    width: 99%;
}

#screen
{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #555;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    widows: 100%;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

h2
{
    color: #444;
}

a
{
    color: #F36532;
    position: relative;
    z-index: 100;
}

#imgMessage
{
    margin-bottom: 10px;
    font-size: 12px;
    width: 100%;
    background: url('/img/stripes.png');
    height: 30px;
    line-height: 30px;
    color: White;
    opacity: .6;
    position: relative;
    z-index: 101;
}